/*
<--!----------------------------------------------------------------!-->
<--! Horizontal Nav !-->
<--!----------------------------------------------------------------!-->
*/
html[data-navigation-type="horizontal"] {
    .wrapper {
        .topnav-content {
            display: flex;
            align-items: center;
            min-height: $header-height;
            background-color: var(--#{$prefix}tertiary-bg);
            border-bottom: 1px solid var(--#{$prefix}border-color);

            .topnav-inner {
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                .navbar {
                    margin: 0;
                    padding: 0;

                    .navbar-nav {
                        .nav-link {
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-size: $menu-item-font-size;
                            font-weight: $font-weight-medium;
                            padding: calc($menu-item-padding-y * 1) calc($menu-item-padding-x * 2);

                            i {
                                font-size: $menu-item-icon-size;
                                margin-right: calc($menu-item-icon-size * 0.5);
                            }

                            &[aria-expanded="true"] {
                                >div.arrow-down {
                                    transform: rotate(0deg);
                                }
                            }
                        }

                        .dropdown {
                            .dropdown-menu {
                                width: 100%;
                                padding: 0.5rem 0;
                                animation: 0.3s ease-in-out 0s normal forwards 1 fadein;

                                .dropdown-item {
                                    position: relative;
                                    color: $menu-item-color;
                                    transition: $transition-base;
                                    font-size: $menu-item-font-size;
                                    font-weight: $font-weight-medium;
                                    padding: calc($menu-item-padding-y * .75) calc($menu-item-padding-x * 4) calc($menu-item-padding-y * .75) calc($menu-item-padding-x * 5);

                                    &:hover,
                                    &:active,
                                    &.active {
                                        color: $menu-item-hover-color;

                                        &:before {
                                            background: var(--#{$prefix}primary);
                                        }
                                    }

                                    &:before {
                                        position: absolute;
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background: $menu-dot-color;
                                        transform: translate(-1rem, 0px);
                                        transition: $transition-base;
                                    }
                                }

                                @keyframes fadein {
                                    from {
                                        opacity: 0;
                                        margin-top: 1rem;
                                    }

                                    to {
                                        opacity: 1;
                                        margin-top: 0rem;
                                    }
                                }
                            }
                        }
                    }

                    .nav-item {

                        >a,
                        .nav-link {
                            color: $menu-item-color;
                            border-radius: $border-radius-sm;

                            &:hover {
                                color: $menu-item-hover-color;
                            }

                            &.active {
                                color: $menu-item-active-color;
                                background-color: $menu-item-active-bg;
                            }
                        }

                        &.active {
                            >a {
                                color: $menu-item-active-color;
                            }
                        }
                    }
                }
            }

        }

        .arrow-down {
            display: flex;
            align-items: center;
            line-height: 0;
            text-rendering: auto;
            font-size: $menu-item-font-size;
            margin-left: calc($menu-item-padding-x * 0.5);

            &:before {
                content: "\f136";
                font-weight: normal;
                font-family: "uicons-regular-rounded";
            }
        }


        #sidebar-size {
            display: none;
        }

        .inner-content {
            margin-left: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .wrapper {
        .topnav-content {
            .navbar-nav {
                .nav-item {
                    &:first-of-type {
                        .nav-link {
                            padding-left: 0;
                        }
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    margin-top: 0;
                    border-radius: $dropdown-border-radius;
                    min-width: calc(var(--#{$prefix}dropdown-min-width) + calc($menu-item-font-size * 0.5));

                    .arrow-down {
                        position: absolute;
                        transform: rotate(270deg);
                        right: calc($menu-item-padding-x * 2);

                    }

                    .dropdown {
                        .dropdown-menu {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            display: none;
                        }
                    }
                }

                &:hover {
                    >.dropdown-menu {
                        display: block;
                    }
                }
            }

            .dropdown:hover>.dropdown-menu>.dropdown:hover>.dropdown-menu {
                display: block;
            }

            .dropdown.active>a.dropdown-item {
                color: $dropdown-link-active-color;
                @include gradient-bg($dropdown-link-active-bg);
            }
        }
    }

    html[data-navigation-type="horizontal"] {
        .header-navbar {
            .megamenu {
                margin-left: 2rem;
            }
        }

    }
}

@include media-breakpoint-down(lg) {
    html[data-navigation-type="horizontal"] {
        .wrapper {

            .topnav-content {
                min-height: 0;
                max-height: 360px;
                z-index: 1039;
                left: 0rem;
                right: 0rem;
                width: 100%;
                position: fixed;
                top: calc($header-height - -1px);
                background: var(--#{$prefix}tertiary-bg);
                border-bottom-left-radius: $border-radius-md;
                border-bottom-right-radius: $border-radius-md;
                overflow-y: auto;
                border: none !important;

                .topnav-inner {
                    width: 100%;
                    min-width: 100%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    max-height: inherit;

                    .navbar {
                        .navbar-collapse.show {
                            animation: 0.3s ease-in-out 0s normal forwards 1 fadein;
                        }

                        .navbar-nav {
                            padding-top: 1rem;
                            padding-bottom: 1rem;

                            .nav-link {
                                padding: calc($menu-item-padding-y * 0.8) calc($menu-item-padding-x * 2);
                            }
                        }

                        .dropdown {
                            .dropdown-menu {
                                background-color: transparent;
                                border: none !important;
                                box-shadow: none;
                                padding-left: calc($menu-item-padding-x * 3);
                                margin-top: calc($menu-item-padding-y * -0.75);

                                .dropdown-menu {
                                    margin-top: calc($menu-item-padding-y * -0.5);
                                    padding-left: calc($menu-item-padding-x * 1.5);
                                }
                            }

                            .dropdown-item {
                                position: relative;
                                background-color: transparent;

                                &[aria-expanded="true"] {
                                    >div.arrow-down {
                                        transform: rotate(0deg);
                                    }
                                }
                            }
                        }

                        .dropdown {
                            .dropdown-item {
                                color: $menu-item-color;

                                &.hover {
                                    color: $menu-item-hover-color;
                                }

                                &.active,
                                &:active {
                                    color: $menu-item-active-color;
                                }
                            }
                        }

                        .dropdown.active>a.dropdown-item {
                            color: $menu-item-active-color;
                        }

                        .arrow-down {
                            font-size: $menu-item-font-size;
                            transform: rotate(-90deg);
                            position: absolute;
                            right: $menu-item-padding-x;
                        }
                    }
                }
            }

            .navbar-toggle {
                display: block;
            }
        }
    }
}