/*
<--!----------------------------------------------------------------!-->
<--! Support Live Chat SCSS !-->
<--!----------------------------------------------------------------!-->
*/
body {
    .support-live-chat {
        z-index: 1041;
        position: fixed;
        bottom: 6rem;
        right: 2.5rem;
        width: 100%;
        max-width: 420px;
        max-height: calc(100% - 120px);
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
        transition: $transition-base;

        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 360px;
        }

        .support-chat-content-body {
            max-height: 360px;
        }

        &.chat-show {
            opacity: 1;
            transform: scale(1);
        }

        &.chat-expanded {
            top: 0;
            right: 0;
            min-height: 100vh;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            transition: none;

            .support-chat-content-body {
                max-height: 100%;
            }

            .support-livechat-btn {
                top: 1rem !important;
                right: 5rem !important;
                z-index: 1090 !important;

                .btn {
                    color: var(--#{$prefix}dark);
                    border: transparent;
                    background-color: transparent;
                }
            }
        }

    }

    &.chat-show {

        .wrapper {
            z-index: -1;
            opacity: 0.75;
            filter: blur(4px);
            transition: $transition-base;
            cursor: not-allowed;
        }

        &.chat-expanded {
            .support-livechat-btn {
                top: 1rem !important;
                right: 5rem !important;
                z-index: 1090 !important;

                .btn {
                    transition: none !important;
                    color: var(--#{$prefix}secondary) !important;
                    border: transparent !important;
                    background-color: transparent !important;
                }
            }
        }
    }
}